<div id="header">
      <!--Menu div to hold global nav-->
      <div id= "menu">
        <ul>
          <li><a href="http://209.95.48.196/WebDevelopment/pages/welcome.html">Welcome</a></li>
          <li><a href="http://209.95.48.196:8080">Dashboard</a></li>
          <li><a href="http://209.95.48.196/WebDevelopment/pages/my_profile.html">Profile</a></li>
          <li><a href="http://209.95.48.196/WebDevelopment/pages/search.html">Search</a></li>
        </ul>
      </div>
      <!--End of menu bar div-->
  </div>
  <!--End of header div-->
