<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    {{> header}}
    <title>{{{title}}}</title>
  </head>
  <header>

  <body>
    <div class="animatedBackground">
    {{welcome}}
    {{{body}}}
  </div>
  <body>
  <footer>

  </footer>
</html>
