<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    {{> header}}
    <title>{{{title}}}'s Instagram</title>
  </head>

  <body>
    <div class="background">
      <div class="animatedBackground"></div>
      <div class="text"><h1>{{{title}}}'s Instagram</h1></div>
    </div>
    {{welcome}}
    {{{body}}}
  <body>
</html>
