<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <title>Welcome to our site!</title>
  </head>

  <body>
    <div class="background">
      <div class="animatedBackground"></div>
      <div class="text"><h1>Welcome to our site!</h1></div>
    </div>
    {{{body}}}
    {{welcome}}
  <body>
</html>
