<script src="views/public/profile.js"></script>

<head>
  <link rel="stylesheet" href="resources/css/profileStyles.css">
  <link rel="stylesheet" href="resources/css/welcomeStyles.css">
</head>
<!--Beginning of the body div-->
  <body>
    <!--Beginning of entire div wrapper for the page-->
    <div class="mb-wrapper">
      <!--Beginning of div for profile picture-->
      <center>
        <div id= "profilepicture">
          <img class="picture" src={{profile_picture}} alt="A beautiful profile picture"/>
            <p><b>{{title}}</b></p>

        </div>
        <!--Beginning of div for the profile form-->
        <div class="form">
          <form method="post">
            <div><input type="text" placeholder="Name" class="textBox nameTextBox"/><br></div> <!-- Mandi: Use my class "textBox" on your text boxes for site continuity. Or we could pick a different style of text box-->
            <div><input type="text" placeholder="Email Address" class="textBox emailTextBox"/><br></div>
            <div><input type="text" placeholder="Biography" id="BioBox" class="textBox bioTextBox"/><br></div>
            <div id="SaveDiv"><input value="Save" type=submit class="button orange submitProfile" id="SaveButton"/><br></div> <!--Added classes for onsistent button style and position-->
            </form>
          </div>
        <!--Ending of div for the profile form-->
      </center>
      <!--End of centered section-->
    </div>
    <!--ending div for wrapper-->
  </body>
  <!--End of the body div-->
</html>
