
<script src="views/public/search.js"></script>

<div class="search">
  <div class="searchLabels">
    <div>Search Hashtags </div>
  </div>
  <div class="currentSearches">
    <input class="searchInput" type="text" placeholder="yourHastagHere" autofocus/>
    <button class="searchSubmit"> Search </button>
    <img class="searchSave" src="resources/images/search/pin-icon.png" alt="Pin Search">
  </div>
  <div class="toggleSavedSearches">
    <button>Toggle Saved Searches</button>
  </div>
  <div class="savedSearches">
    {{> searchFilter}}
  </div>
</div>

<div class="gram">
  {{> feed}}
</div>
