<head>
  <script type="text/javascript">
    var redirectURL = "http://localhost:8080/redirect"
  </script>
</head>
<body>
  <div class="fluff">
    <p>
  Our fluffy and adorable site belies an inner aggression. It bides its time, waiting for an opportunity
  to strike out at all those foolish enough to use it for good.
    </p>
  </div>
  <div class="">
    <form class="" action="" method="post">
      <button type="button" class="button" name="button" onclick="window.location=redirectURL">Login to Instagram</button>
    </form>
  </div>
</body>
