<body>
  <div class="fluff">
    <p>
      Our fluffy and adorable site's welcoming exterior belies an insatiable inner aggression. It bides its time, waiting
      for an opportunity to strike out at all those foolish enough to use it for good.
    </p>
  </div>
  <div class="">
    <button type="button" class="button" name="button" onclick="window.location='/redirect'">Log In to Instagram</button>
  </div>
</body>
