<html>
<head>
  <% include ../pages/head %>
  <% include ../pages/header %>
  <title>"Dashboard"</title>
</head>

<body class ="container">
  <main>
    <a href="https://instagram.com/oauth/authorize/?client_id=f81f407862d44b03a130dfb1c020c5ff&redirect_uri=http://209.95.48.196:8080&response_type=code"></a>
  </main>
</body>
</html>
