#grid {
  background: linear-gradient(#e2e2e2,white);
  margin: auto;
  width: 50%;
  height: 90%;
  min-width: 427px;
  min-height: 400px;
  border-radius: 20px;
  border-top:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  position:fixed;
}
.grid-wrap{
  top:50%;
  left:50%;
  display:block;
  align-items: center;
  transform:translate(-50%, -50%);
  position:relative;
}
.grid-rows{
  width:96%;
  height:33%;
  display:flex;
  align-items: center;
  transform:translateX(2%);
  left:50%;
}
.grid-element{
  background:#e3e3e3;
  margin:auto;
  width:30%;
  height:85%;
  border-radius: 20px;
  padding: 0px 10px 10px 10px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
  text-align: center;
}
#gridimages{
  margin:auto;
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 80%;
  border-radius: 20px;
  padding-top: 10px;
}
#statement {
  margin:auto;
  line-height: 20px;
  text-align:center;
}
