@charset "UTF-8";

/*------------------------------------*\
              GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #F0F0F0;
  color: #494949;
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.cs-content {
  margin: 5px;
}

.cs-wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

.cs-clear:after, .cs-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.cs-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*------------------------------------*\
              TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*------------------------------------*\
                HEADER
\*------------------------------------*/
header {
  border-bottom: solid 1px #CCC;
  height: 70px;
  margin: 0 0 0 0;
}
  header h1 {
    float: left;
    position: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }

/*------------------------------------*\
           Image Wrapper
\*------------------------------------*/
.box-wrap {
  margin: 25px 0 0 10px;
  width: 80%;
  float: left;
}

.box {
  border-radius: 5px;
  width: 30%;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 2%;
  }
  .box img {
    border-radius: 5px;
    display: block;
    margin: 0 0 5px 0;
    width: 100%;
  }

  .comments {
    border-radius: 5px;
    float: left;
    background: #FFF;
    border: solid 1px #CCC;
    height: 35px;
    text-align: center;
    width: 100px;
  }
  .likes {
    border-radius: 5px;
    float: right;
    background: #FFF;
    border: solid 1px #CCC;
    height: 35px;
    text-align: center;
    width: 85px;
  }

/*------------------------------------*\
            Search Bar
\*------------------------------------*/

.search-bar {
  margin: 25px 10px 0 0;
  width: 18%;
  float: left;
	border-width: 1px;
	border-radius: 5px;
	border-color: lightgrey;
	border-style: solid;
  background-color: #DDD;
}

.search-label {
 margin: 15px 0 0 15px;
 line-height: 10px;
 text-align:left;
}

 .search-box {
   width: 95%;
 }
    .search-box:nth-child(n) {
      margin: 5px 0 0 5px;
    }
    .search-box:nth-child(8n) {
      margin: 5px 0 15px 5px;
    }
