#menu {
  text-align: right;
}
#menu ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  }
#menu li {
  float: left;
}
#menu a:link, a:visited {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', fantasy, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 23px;
  border-radius: 20px;
  display: inline-block;
  width: 140px;
  text-align: center;
  color: #e2e2e2;
  padding: 8px;
  text-decoration: none;
}

#menu a:hover, a:active{
  background-color: black;
}
#space {
  height: 20px;
  width:100%;
}
div#header {
  poition: fixed;
  top:0px;
  left:0px;
  width:100%;
  padding:0px;
  margin 0;
  background: linear-gradient(black, grey);
  box-shadow: 2px 3px 5px rgba(100, 100, 100, 0.75  );
}
#grid {
  background: linear-gradient(#e2e2e2,white);
  width: 960px;
  height: 780px;
  margin: auto;
  position:center;
  border-radius: 20px;
  border-top:20px;
  padding: 20px 20px 20px 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g1-0-0 {
  background:#e3e3e3;
  width: 32%;
  height:240px;
  margin:auto;
  float:left;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g0-1-0 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  margin:auto;
  float:right;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g0-0-1 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  margin:auto;
  border-radius:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g2-0-0 {
  background:#e3e3e3;
  width: 32%;
  height:240px;
  margin:auto;
  float:left;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}

#g0-2-0 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  margin:auto;
  float:right;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g0-0-2 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  maxheight:0px;
  margin:auto;
  border-radius:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g3-0-0 {
  background:#e3e3e3;
  width: 32%;
  height:240px;
  margin:auto;
  float:left;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}

#g0-3-0 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  margin:auto;
  float:right;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#g0-0-3 {
  background:#e3e3e3;
  width: 32%;
  height: 240px;
  maxheight:0px;
  margin:auto;
  border-radius:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5)
}
#gridimages{
  position:relative;
  top:10%;
  border-radius: 20px;
  margin:auto;
  display:block;
}
#statement {
  line-height: 40px;
  text-align: center;
  bottom: 20%;
}
body{
  margin: 0;
  background: #F0F0F0;
}
