ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
li {
  float: left;
}
a:link, a:visited {
  display: block;
  width: 140 px;
  font-weight: bolder;
  background-color: green;
  padding: 8 px;
  text-transform: capitalize;
}
