.textBox {
	border:2px solid #000000;
	border-radius:10px;
	height: 24px;
	width: 230px;
  position:fixed;
  float:left;
}
.getInfo {
  position:relative;
  top:10%;
  border-radius: 20px;
  margin:auto;
  display:block;
}
