html,.animatedBackground,#grid{
	height:100%;
}

body{
  padding-top:45px;
  min-height:100%;
	z-index:1;
  margin: 0;
  background: #F0F0F0;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', fantasy, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

#menu {
  text-align: right;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  padding:0px;
  margin: 0px;
  z-index:20;

}

#menu ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  }
#menu li {
  float: left;
}
#menu a:link, a:visited {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', fantasy, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px;
  background:#333;
  color:#999;
  padding: 12px 24px;
  margin-right: 10px;
  border-radius: 10px;
  vertical-align:middle;
  text-decoration: none;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

#menu a:hover{
  background: #00CCFF;
  color: #FFF;
}
#grid {
  background: linear-gradient(#e2e2e2,white);
  width:1000px;
  min-height: 100%;
  border-radius: 20px;
  border-top:20px;
  box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
  center:100%;
  top:0px;
  left:0;
  right:0;
  margin:auto;
  position:inherit;
}

.pull--right {
	position:absolute;
	float: left !important;
  bottom: 3px;
  right: 3px;
}

.pull--left {
	position:absolute;
	float: left !important;
  bottom: 3px;
  left: 3px;
}

.box-wrap {
  margin: 25px 0 0 10px;
  width: 80%;
  float: left;
}

  .box img {
    left:0;
    right:0;
    margin: 0 0 5px 0;
    width: 100%;
    border-radius:7px;
  }


.box {
  border-radius: 5px;
  width: 30%;
  height:300px;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
  z-index:10;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 2%;
  }

  .box button {
    border-radius: 5px;
    background: #FFF;
    border: solid 1px #CCC;
    height: 35px;
    text-align: center;
    width: 100px;
  }

  .box button:hover {
    border: solid 2px #DDD;
    background-color: #DDD;
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
  }
	.animatedBackground{
	 position:fixed;
	 overflow-y:scroll;
	 animation: morph 120s infinite;
	 padding: 10px;
 	 width: 100%;
	z-index:-1;
  }
  .animatedBackground h1{
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', fantasy, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 100px;
	color:#e2e2e2;
	top:500px;
  }
  .animatedBackground h1:first-letter{
  	text-transform:capitalize;
  }
	@keyframes morph {
	0%{
    background-color:#e2e2e2;
    transform: skewY(0deg);
  }
  20%{
    transform:skewY(-90deg);
  }
  50%{
    transform:skewY(-100deg);
  }
  90%{
    background-color:#00CCFF;
    transform:skewY(20deg);
  }
  100%{
  	background-color:#e2e2e2;
  }
}
.background .text{
	position:fixed;
	top:-20px;
	float:left;
	z-index:-1;
	font-size: 23px;
	font-style: normal;
	font-variant:small-caps;
	font-weight: 400;
	line-height: 23px;
	animation: change-text-color 120s infinite;
}

@keyframes change-text-color{
	0%{
		color:black;
	}
	70%{
		color:black;
	}
	90%{
		color:#e2e2e2;
	}
	100%{
	color:black;
	}
}

.front {
	transform: perspective( 600px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	float:left;
	border-radius: 7px;
}
.box .back {
	position:absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    border-radius: 7px;
    backface-visibility: hidden;
	background:#3e3e3e;
	width:300px;
	height:300px;
    transition: transform .5s linear 0s;
    color:#e2e2e2;
    text-align:center;
}
.back span{
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	font-variant:small-caps;
	font-size:larger;
	top:40%;
}
.back img{
	opacity:.2;
}
.box:hover .front{
	transform: perspective( 600px ) rotateY( -180deg );
}
.box:hover .back{
	transform: perspective( 600px ) rotateY( 0deg );
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background-color:#9dce2c;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:55px;
	line-height:45px;
	width:200px;
	text-decoration:none;
	text-align:center;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.button:hover {
	background-color:#8cb82b;
}

.button:active {
	postion:inherit;
}

.fluff {
	text-align: center;
	position:fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 30%;
	font-size: 20px;
}

.cs-content {
  margin: 5px;
}

.cs-wrap {
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}

.cs-clear:after, .cs-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  .error {
    border: 2px solid red;
  }

/*------------------------------------*\
            Search Display
\*------------------------------------*/
.search-container {
  width: 100%;
  position: relative;
  float:left;
}

.search {
  width: 1000px;
  center:100%;
  top:0px;
  left:0;
  right:0;
  margin:auto;
  position:relative;
}

.searchLabels {
  width: 150px;
  margin: 15px 0 5px 15px;
  line-height: 15px;
  text-align: left;
}

.currentSearches input {
  position: relative;
  border: none;
  width: 260px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  float: left;
  margin: 10px 5px 10px 10px;
}

.currentSearches button {
  border-radius: 5px 0 0 5px;
  background: #FFF;
  border: solid 1px #CCC;
  height: 35px;
  text-align: center;
  width: 100px;
  margin: 10px 0 10px 0px;
  float: left;
  -webkit-transition: border 500ms;
  -moz-transition: border 500ms;
  -o-transition: border 500ms;
  transition: border 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

.currentSearches button:hover {
  border: solid 2px #DDD;
  background-color: #DDD;
}

.currentSearches img {
  border-radius: 0 5px 5px 0;
  background: #FFF;
  border: solid 1px #CCC;
  height: 33px;
  width: 33px;
  margin: 10px 0 10px 0px;
  opacity:1;
  -webkit-transition: border 500ms;
  -moz-transition: border 500ms;
  -o-transition: border 500ms;
  transition: border 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.currentSearches img:hover {
  border: solid 1px #DDD;
  background-color: #DDD;
  opacity:.4;
}

/*------------------------------------*\
          saved-searches
\*------------------------------------*/

.toggleSavedSearches button {
  border-radius: 5px;
  background: #FFF;
  border: solid 1px #CCC;
  height: 35px;
  text-align: center;
  width: 180px;
  margin: 10px 550px 10px 10px;
  -webkit-transition: border 500ms;
  -moz-transition: border 500ms;
  -o-transition: border 500ms;
  transition: border 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
  margin: 10px 550px 10px 10px;
}

.toggleSavedSearches button:hover {
  border: solid 2px #DDD;
  background-color: #DDD;
}

.savedSearches {
  width: 100%;
  margin: 5px 0 5px 0;
}

  .savedSearches #pair {
    float: left;
  }

  .savedSearches ul {
    float: left;
    margin: 10px;
    margin: 5px 0 5px 0;
    position: relative;
  }

    .savedSearches a {
      border-radius: 0 10px 10px 0;
      max-width: 300px;
      border: solid 2px #CCC;
      background-color: #CCC;
      float: left;
      padding: 4px;
      margin: 5px 5px 15px 0;
      text-align: center;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
    }

  .savedSearches a:hover {
      border: solid 2px #DDD;
      background-color: #DDD;
  }

  .savedSearches button {
      border-radius: 10px 0 0 10px;
      background-color: #CCC;
      max-width: 20%;
      border: solid 2px #CCC;
      float: left;
      height: 33px;
      width: 25px;
      text-align: center;
      vertical-align:middle;
      margin: 5px 0 15px 5px;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
  }

  .savedSearches button:hover {
      border: solid 2px #DDD;
      background-color: #DDD;
  }
